{% extends 'base.html' %}

{% block title %}Bird List{% endblock %}

{% block content %}
<h1>Bird List</h1>
<ul>
    {% for bird in object_list %}
    <li>
        {{ bird.name }} - {{ bird.species }}: {{ bird.description }}
        <!-- Edit Link -->
        <a href="{% url 'bird-update' bird.pk %}">Edit</a> | 
        <!-- Delete Link -->
        <a href="{% url 'bird-delete' bird.pk %}">Delete</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'bird-create' %}">Add New Bird</a>
{% endblock %}
